.hero {
  padding: 78px ;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
  
}

.content {
  width: 595px;
  
}

.title {
  font-weight: 600;
  font-size: 80px;
  line-height: 1.025;
  letter-spacing: -0.02em;
  color: var(--main);
  margin-bottom: 20px;
}

.titleSpan {
  color: var(--button);
}

.text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  color: var(--main);
  margin-bottom: 40px;
}

.btn {
  border-radius: 30px;
  padding: 18px 50px;
  width: 235px;
  height: 60px;
  background: var(--button);
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}

.btn:hover{
  background: var(--button-hover);
}
.imageWrapper {
  position: relative;
}
.cardContainer {
  position: absolute;
  bottom: 70px; 
  left: -70px; 
  display: flex;
  align-items: center;
  background: #F884D2;
  padding: 10px;
width: 311px;
height: 118px;
  border-radius: 10px;
  gap: 16px;
  z-index: 10; 
}

.heroImg {
  border-radius: 10px;
  width: 464px;
  height: 526px;
  object-fit: cover;
}

.checkIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 13px;
  width: 54px;
  height: 54px;
  background: #fbfbfb;
  color: #F884D2; 
  font-size: 24px;
  font-weight: bold;
}

.textCard {
  font-weight: 400;
  font-size: 14px;
  color: rgba(251, 251, 251, 0.5);
}
.textNum{
    font-weight: 700;
font-size: 24px;
color: #fbfbfb;
}