:root{
    --main: #191a15;
    --text: rgba(25, 26, 21, 0.5);
    --white: #fff7f7;
    --button:   rgba(255, 118, 225, 0.65);
    --button-hover:  #f884d2;
    --error:  #f40c0c;

     --font-family: "Inter", sans-serif;
}