:root{
    --main: #191a15;
    --text: rgba(25, 26, 21, 0.5);
    --white: #fff7f7;
    --button:    #F884D2;
    --button-hover:  #fd91d9;
    --error:  #f40c0c;

     --font-family: "Inter", sans-serif;
}