.header {
  border: 1px solid rgba(25, 26, 21, 0.1);
  width: 100%;  /* Залишаємо ширину 100% */
  max-width: 1440px;  /* максимальна ширина */
  margin: 0 auto;  /* для вирівнювання */
}

.logo{
width: 218px;
height: 28px;
}

.logoImg{
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.item{
font-weight: 400;
font-size: 16px;
line-height: 1.25;
letter-spacing: -0.01em;
color: var(--text);
}